.slick-prev:before {
    color: #000;
}
.slick-next:before{
    color: #000;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 1;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 37px;
    height: 37px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-top: -20px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 100;
}