body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img.img-crop{display:block; max-width:none;}

.header{ margin:0; padding:0; position:relative; z-index:111}
.header-top{ padding:30px 0;}
.logo{ text-align:center;}
.search .form-control{ border-radius:0 50px 50px 0; box-shadow:none; border-left:none; padding-left:0}
.search .form-control:focus{ border-color:#ccc;}
.search .input-group-addon{ border-radius:50px 0 0 50px; background:#fff;}
.search .input-group{ margin-top:20px; width:70%}
.header-top ul{ margin:0; padding:20px 0 0 0; list-style:none; text-align:right;}
.header-top ul li{ margin:0; padding:0; line-height:34px; display:inline-block; color:#ccc;}
.header-top ul li:after{ content:'|'; float:right; margin:0 4px;}
.header-top ul li:last-child:after{ margin:0; display:none;}


.header-bottom{ position:relative;}

.toggleMenu { display:none; height:40px; width:40px; line-height:50px; text-align:left; color:#000; background:url(./assets/images/menu.png) no-repeat center; background-size:60%; font-size:18px; text-transform:uppercase; font-weight:700; margin-left:auto;}
.toggleMenu.active{ background:url(./assets/images/close.png)  no-repeat center; background-size:60%;}
.menu { list-style:none; *zoom:1; margin:0; padding:0; text-align:center;}
.menu:before, .menu:after { content:""; display:table; }
.menu:after { clear:both;}
.menu ul { list-style:none; min-width:200px;float:none; left:0; top:100%; position:relative; height:250px; overflow:auto; overflow-x:hidden;}
.menu a { padding:0 20px; color:#656565; white-space:nowrap;}
.menu li { position:relative; padding:0;}
.menu > li > .parent{ background-image:url(./assets/images/downArrow.png); background-repeat:no-repeat; background-position:center 90%;}
.menu li a:hover, .menu li:hover > a, .menu li.current-menu-item > a, .menu li.current-menu-parent > a{color:#e01926; text-decoration:none;}
.menu > li {display:inline-block; font-size:16px; position:relative; line-height:60px; text-align:center; text-transform:uppercase; font-weight:700;}
.menu > li > a { display:block;}
.menu li ul { position:absolute; left:-9999px; margin:0; padding:0; list-style:none; -webkit-box-shadow:0 12px 10px 0 rgba(0,0,0,0.2); box-shadow:0 12px 10px 0 rgba(0,0,0,0.2);}
.menu > li.hover > ul { left:50%; margin-left:-100px;}
.menu li li.hover ul { left:100%; top:0;}
.menu li li{ padding:0; line-height:30px; text-align:left; margin:0; text-align:center;}
.menu li li + li{ border-top:1px solid #e7e7e7;}
.menu li li a { display:block; background-color:#fff; position:relative; z-index:100; font-size:14px; padding:2px 10px;}
.menu li li:last-child{ border-bottom:none;}
.menu li li a:hover{ color:#fff; background-color:#000;}
.menu li li li a { background-color:#fff; z-index:200;}
@media (min-width:992px) and (max-width:1199px) {
.menu a{ padding:0 7px;}
} 
@media (min-width:768px) and (max-width:991px) {
  
.menu a{ padding:0 15px;}
} 
@media screen and (max-width:992px) {
.main-nav .active { display:block; }
.main-nav{ display:none; text-align:left; position:absolute; top:100%; left:0; right:0; background:#fff; z-index:9999; padding:10px 15px 0; border-top:1px solid #e7e7e7;}
.menu > li { float:none; display:block; border-bottom:1px solid #e7e7e7; text-align:left; line-height:30px;}
.menu a{ padding:4px 0;}
.menu li{ display:block;}
.menu > li > .parent { background-position:96% 50%; }
.menu > li > .parent{ background-image:url(./assets/images/downArrow.png); background-repeat:no-repeat; background-position:right center;}
.menu li.hover > .parent{ background-image:url(./assets/images/upArrow.png); background-repeat:no-repeat; background-position:right center;}
.menu li li .parent {background-image:url(./assets/images/downArrow.png);background-repeat:no-repeat;background-position:right center;}
.menu ul { display:block; width:100%; border-bottom:none;}
.menu > li.hover > ul , .menu li li.hover ul {position:static; margin-left:0}
.menu li li a { padding:5px 30px;}
.menu li li{ text-align:left;}
.menu li li li a{ padding:5px 45px;}
.menu li ul{ box-shadow:none; -webkit-box-shadow:none}
.menu li li + li{ border-top:none;}
}


.banner img{ width:100%; height:auto;}
.banner ul{ margin:0; padding:0;}
.banner ul li img{ width:100%; height:auto;}
/*.banner .bx-controls-direction, .banner .bx-controls-auto{ display:none;}*/
.banner .bx-wrapper .bx-controls-direction a{ background-color:#FFFFFF; box-shadow:0px 3px 6px #00000029; border:1px solid #00000000; width:52px; height:52px; border-radius:50%;}
.banner .bx-wrapper .bx-prev, .banner .bx-wrapper .bx-prev:hover{ background-image:url(./assets/images/left-arrow.png); background-position:center; background-repeat:no-repeat; background-size:24px;}
.banner .bx-wrapper .bx-next, .banner .bx-wrapper .bx-next:hover{ background-image:url(./assets/images/right-arrow.png); background-position:center; background-repeat:no-repeat; background-size:24px;}

ul.link-menu{ margin:0; padding:0; list-style:none; text-align:center; display:none;}
ul.link-menu li{ margin:0; padding:0; line-height:34px; display:inline-block; color:#ccc;}
ul.link-menu li:after{ content:'|'; float:right; margin:0 4px;}
ul.link-menu li:last-child:after{ margin:0; display:none;}

.intro-wrap{ margin:0; padding:100px 0; background:#fff;}
.intro-wrap blockquote{ margin:0; padding:0; border:none; text-align:center;}
.intro-wrap blockquote strong{ font-style:italic;}
.intro-wrap .bx-controls{ display:none;}

.book-list{ margin-left:0; margin-right:0;}
.book-list .col-sm-6{ padding-left:0; padding-right:0;}
.book-list .col-sm-6 img{ width:100%; height:auto;}
.book-list .col-sm-6 .overlay{ position:absolute; top:0; left:0; bottom:0; right:0; /*background:rgba(0,0,0, 0.3);*/}
.book-list .col-sm-6:hover .overlay{background:rgba(0,0,0, 0.7);}
.book-list .col-sm-6 .overlay a span {display:table-cell; vertical-align:middle; text-align:center; display:none;}
.book-list .col-sm-6 .overlay a{ display:table; height:100%; width:100%; color:#fff; font-size:24px;}

.book-scroller{ margin:0; padding:8% 0; min-height:100vh;}
#owl-featured .item, #owl-forthcoming .item{padding:0 15px; margin:0; text-align:center;}
.book-scroller h2{ margin-top:0; padding-bottom:10px; margin-bottom:30px; text-transform:uppercase; text-align:center; font-size:30px; position:relative; color:#000;}
/*.book-scroller h2:after{ content:''; width:80px; background:#656565; width:80px; left:50%; bottom:0; margin-left:-40px; position:absolute; height:2px;}*/
.scroll-book{ position:relative;}
/*.scroll-book .next1, .scroll-book .next2{ background:url(./assets/images/next.png); height:37px; width:37px; display:block; text-indent:-9999px; position:absolute; top:50%; margin-top:-36px; right:-30px; border:none;}
.scroll-book .prev, .scroll-book .prev2{ background:url(./assets/images/prev.png); height:37px; width:37px; display:block; text-indent:-9999px; position:absolute; top:50%; margin-top:-36px; left:-30px; border:none;}*/
.book-scroller h5{ font-size:18px;}

.book-advert{ margin-left:0; margin-right:0;}
.book-advert .col-sm-6{ padding-left:0; padding-right:0;}
.book-advert .col-sm-6 img{ width:100%; height:auto;}

.footer{ margin:0; padding:25px 0; background:#000; color:#fff; font-size:12px;}
.footer ul.social{ margin:0; padding:0; line-height:none; text-align:right;}
.footer ul.social li{ margin:0; padding:0; display:inline-block; line-height:24px; font-size:18px; text-align:center; }
.footer ul.social li a{ color:#fff; height:30px; width:30px; line-height:30px; display:block;}
.footer ul.social li a.facebook{ background:#455091;}
.footer ul.social li a.twitter{ background:#479EDB;}
.footer ul.social li a.soundcloud{ background:#E94C26;}
.footer ul.social li a.youtube{ background:#CD2626;}
.footer p{ margin:0; padding:8px 0;}
.footer a{ color:#fff; text-decoration:none;}
.footer a:hover{ text-decoration:underline;}


.page-wrapper{ margin:0; padding:80px 0; background:#ede8de; /*border-top:1px solid rgba(0, 0, 0, 0.2);  border-bottom:1px solid rgba(0, 0, 0, 0.2)*/}
.book-img{ position:relative;}
.book-img img{ width:100%; height:auto;}
.book-info h1{ margin-top:0; font-size:30px; font-weight:bold;}
.book-info p.author{ margin-bottom:15px;}
.book-info p.author a{ color:#e01926;}
.book-info p.author a:hover{ text-decoration:underline;}
.book-info ul.small-info{ padding-left:0; list-style:none; margin-bottom:25px;}
.book-info ul.small-info li{ line-height:24px; font-size:14px; margin-bottom:10px; line-height:18px;}
.book-info ul.small-info li:last-child{ margin:0;}
.book-info ul.small-info li span{ display:block;  text-transform:uppercase; font-weight:bold; margin: 10px 0;}
.btn-row{ margin-bottom:25px;}
.book-details{ margin:30px 0;}
.book-details h2, .author-book h3{ margin:0 0 10px 0; padding:0 0 10px 0; border-bottom:1px solid #fff; font-size:22px;}
.book-info ol{ margin:0 0 15px; padding:0; list-style:none;}
.book-info ol li{ display:inline-block; font-size:13px;}
.book-info ol li:after{ margin:0 5px; display:block; float:right; content:'|'}
.book-info ol li:last-child:after{ display:none;}
.share-book{ margin-bottom:15px;}
.share-book h6{ text-transform:uppercase; margin-top:0; text-transform:uppercase; font-size:14px;}

.page-wrapper-aut{ margin:0; padding:80px 0; background:#fff; /*border-top:1px solid rgba(0, 0, 0, 0.2);  border-bottom:1px solid rgba(0, 0, 0, 0.2)*/}
.page-header h1{ margin:0; padding:0; color:#898989;}

.contact-info ul{ padding-left:0; padding-bottom:20px 0; list-style:none;}
.contact-info ul li{ list-style:none; font-size:16px; margin-bottom:8px; padding:0 0 0 30px; position:relative;  padding-bottom:8px; border-bottom:1px solid #ccc;}
.contact-info ul li i{ color:#555; font-size:18px; width:22px; text-align:center; position:absolute; text-align:center; top:3px; left:0;}
.Flexible-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
margin:0;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
position:absolute;
top:0;
left:0;
width:100%;
height:1}


.alphabet-list{ margin:0 0 15px 0; padding:0 0 15px 0; list-style:none; text-align:center; border-bottom:1px solid #eee;}
.alphabet-list li{ margin:0; padding:0; display:inline-block;}
.alphabet-list li a{ height:36px; width:36px; text-align:center; line-height:36px; display:block; text-transform:uppercase; font-size:16px;}
.alphabet-list li.active a{ color:#E01926;}

.listiing{ padding:0; list-style:none; display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-8px; margin-left:-8px; margin-bottom:0;}
/*.listiing:before, .listiing:after{ content:''; display:table;}
.listiing:after{ clear:both;}*/
.listiing li{ margin:0 0 16px 0; padding:0 8px; -ms-flex:0 0 20%; flex:0 0 20%; max-width:20%;}
.listiing li a{ display:block; position:relative; overflow:hidden;}
.listiing li a:before {content:''; padding-top:150%; display:block;}
.listiing li a .list-image { top:50%;-webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); position:absolute; left:0; right:0;}
/*.list-image{ min-width:initial; height:310px; position:relative; overflow:hidden; flex:0 0 auto; display:flex;  border:1px solid #eee;}
.list-image img{flex:1 1 auto; align-self:center; justify-self:center; object-fit:cover; height:100%; min-width:100%; width:auto;}*/
/*.list-image img{ width:100%; height:auto; border:1px solid #eee;}*/
.listiing li h4{ margin:0; text-align:center; font-size:15px; position:absolute; bottom:0; left:0; right:0; padding:10px 8px; color:#fff; background:#E01926; display:none;}
.listiing li a:hover h4{ background:#000;}
.listiing li h5{ margin:0; text-align:center; font-size:15px; /*position:absolute;*/ bottom:0; left:0; right:0; padding:10px 8px; color:#fff; background:#E01926;}
.listiing li a:hover h5{ background:#000;}

.pagewrapper{ padding:80px 0;}
.pagewrapper h1, .pagewrapper h2, .pagewrapper h3, .pagewrapper h4, .pagewrapper h5, .pagewrapper h6{ margin:0 0 12px 0;}
.pagewrapper p{ margin-bottom:12px;}
.pagewrapper ul, .pagewrapper ol{ padding-left:18px; margin-bottom:12px;}

.search-list-wrap article{ margin-bottom:12px; padding-bottom:12px; border-bottom:1px solid #ccc;}
.search-list-wrap article:last-child{ margin:0; padding:0; border:none;}


.page-head{margin:0; padding:40px 0; background:#ede8de; /*border-top:1px solid rgba(0, 0, 0, 0.2);  border-bottom:1px solid rgba(0, 0, 0, 0.2)*/}
.page-head h1{ margin:0; padding:0;}

.newsletter-wrap{ margin:0; padding:40px 0 30px 0; background:#eee;}
.newsletter-wrap label{ text-align:center; line-height:34px; font-size:18px; margin:0; display:block;}
.newsletter-wrap .tnp-field-email label{display:none !important;}
.newsletter h3.widget-title, .eemail_caption{ display:none;}
.newsletter:before, .newsletter:after{ content:''; display:table;}
.newsletter:after{ clear:both;}
.newsletter-wrap:before, .newsletter-wrap:after{ content:''; display:table;}
.newsletter-wrap:after{ clear:both;}
.tnp-widget .tnp-field.tnp-field-email{ width:66.66666667% !important; float:left !important; padding-right:5px !important;}
.tnp-widget.tnp-field.tnp-field-button{ float:left !important; width:33.33333333% !important; padding-left:5px !important;}
.newsletter-wrap .tnp-email {
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  color:#000;
  background-color:#ffffff;
  background-image:none;
  border:1px solid #cccccc;
  border-radius:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.newsletter-wrap .tnp-email:focus {
  border-color:#8dc63f;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140, 198, 63, 0.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140, 198, 63, 0.6);
}
.newsletter-wrap .tnp-emaill ::-moz-placeholder {
  color:#000;
  opacity:1;
}
.newsletter-wrap .tnp-email :-ms-input-placeholder {
  color:#000;
}
.newsletter-wrap .tnp-email ::-webkit-input-placeholder {
  color:#000;
}
.newsletter-wrap .tnp-submit{ font-size:14px; width:100%; text-align:center; color:#fff; padding:6px 12px; height:34px;
  color:#ffffff;
  background-color:#000;
  border-color:#000;
  text-transform:uppercase;
  border:none;
}
.newsletter-wrap .newsletter-submit:focus, .newsletter-wrap .newsletter-submit:hover {
  color:#fff;
  background-color:#333;
  border-color:#333;
}*/

.alpabetic-list h3{ font-size:30px; font-weight:bold; color:#000; text-transform:uppercase; margin-top:0}
.alpabetic-list ul{ margin:0 0 15px 0; padding:0 0 15px; border-bottom:1px solid #eee; list-style:none;}
.alpabetic-list ul:before, .alpabetic-list ul:after{ content:''; display:table;}
.alpabetic-list ul:after{ clear:both;}
.alpabetic-list ul li{ line-height:24px; float:left; width:25%;}
.alpabetic-list ul li a{ display:block;}


.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel,.owl-carousel .owl-wrapper{display:none;position:relative}.owl-carousel{width:100%;-ms-touch-action:pan-y}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height .5s ease-in-out;-moz-transition:height .5s ease-in-out;-ms-transition:height .5s ease-in-out;-o-transition:height .5s ease-in-out;transition:height .5s ease-in-out}.owl-carousel .owl-item{float:left}.owl-controls .owl-buttons div,.owl-controls .owl-page{cursor:pointer}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}.grabbing{cursor:pointer}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}


.bx-wrapper{position:relative;margin:0 auto;padding:0}.bx-wrapper img{max-width:100%;display:block}.bx-wrapper .bx-viewport{-webkit-transform:translatez(0);-moz-transform:translatez(0);-ms-transform:translatez(0);-o-transform:translatez(0);transform:translatez(0)}.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager{position:absolute;bottom:15px;width:100%}.bx-wrapper .bx-loading{min-height:50px;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:700;color:#666;padding-top:20px}.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager .bx-pager-item{display:inline-block}.bx-wrapper .bx-pager.bx-default-pager a{background:#fff;text-indent:-9999px;display:block;width:12px;height:12px;margin:0 4px;outline:0;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:hover{background:#E01926}.bx-wrapper .bx-prev{left:10px;background:url(./assets/images/controls.png) 0 -32px no-repeat}.bx-wrapper .bx-next{right:10px;background:url(./assets/images/controls.png) -43px -32px no-repeat}.bx-wrapper .bx-prev:hover{background-position:0 0}.bx-wrapper .bx-next:hover{background-position:-43px 0}.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-26px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:99}.bx-wrapper .bx-controls-direction a.disabled{display:none}.bx-wrapper .bx-controls-auto{text-align:center}.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(./assets/images/controls.png) -86px -11px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-start:hover{background-position:-86px 0}.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(./assets/images/controls.png) -86px -44px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-stop.active,.bx-wrapper .bx-controls-auto .bx-stop:hover{background-position:-86px -33px}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:center;width:100%}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666\9;background:rgba(80,80,80,.75);width:100%}.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}

.blog-post{ margin:0 0 30px 0; padding:0 0 30px; border-bottom:1px solid #d8d8d8}
/*.blog-post .blog-post-img{ margin:0; padding:0; position:relative; overflow:hidden;}
.blog-post .blog-post-img img{ width:100%; height:auto; transition:transform 200ms linear; -webkit-transition:-webkit-transform 200ms linear; border-radius:0;}*/
.blog-post-content{ margin:0; padding:0;}
.blog-post-content h5{ font-size:20px;}
/*.blog-post:hover .blog-post-img img{-webkit-transform:-webkit-scale(1.1) -webkit-rotate(1deg); transform:scale(1.1) rotate(1deg);}*/
.blog-post .entry-meta{ font-size:12px; margin-bottom:12px;}
.blog-post .full-img a{ min-width:initial; height:300px; position:relative; overflow:hidden; flex:0 0 auto; display:flex;}
.blog-post .full-img a img{flex:1 1 auto; align-self:center; justify-self:center; object-fit:cover; height:100%; min-width:100%; width:auto;}

.blog-sidebar h3{ margin-bottom:20px; padding-bottom:10px; position:relative; text-transform:uppercase; font-size:24px;}
.blog-sidebar h3:after{ left:0; bottom:0; height:2px; width:80px; background:#28394b; content:''; position:absolute;}
.single-post .blog-post .blog-post-img{ display:none;}
.blog-sidebar .widget{ margin:0 0 30px 0; padding:0;}
.blog-sidebar .widget:last-child{ margin:0;}
.blog-sidebar .widget ul{ padding:0; margin:0; list-style:none;}
.blog-sidebar .widget ul li{ border-bottom:1px solid #e4e4e4; color:#686868; display:block; padding:8px 0 8px 12px; position:relative}
.blog-sidebar .widget ul li:before{ content:''; float:left; margin-right:10px; background:#bf2f38; height:6px; width:6px; top:19px; left:0; position:absolute;}
.blog-sidebar .widget ul li:last-child{ border:none}
.blog-sidebar .widget ul li .post-date{ font-size:12px;}
.blog-sidebar .widget ul li .post-date{ display:block;}
.blog-sidebar .widget ul li a{ color:#252525;}
.blog-sidebar .widget ul li a:hover{ color:#ec0110;}
.blog-sidebar .widget .widget-content{padding:15px; border:1px solid #d8d8d8; background:#fff; -webkit-box-shadow:0 3px 5px 0 rgba(0,0,0,0.1); box-shadow:0 3px 5px 0 rgba(0,0,0,0.1);}
.blog-sidebar .widget .widget-content form{ padding:5px 0 15px 0}

form.searchform input[type=text], #respond form input[type="text"], #respond form textarea{ display:block; width:100%; padding:0.65rem 1rem ; line-height:1.5; color:#495057; background-color:#fff; background-clip:padding-box; border:1px solid #ced4da; border-radius:0; transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}
form.searchform input[type=text]{ margin-bottom:15px;}
form.searchform input[type=text]::-ms-expand { background-color:transparent; border:0;}
form.searchform input[type=text]:focus, #respond form input[type="text"]:focus,#respond form textarea:focus { color:#495057; background-color:#fff; border-color:#325aaf; outline:0; box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.25); -webkit-box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.25)}

.search-list article{ margin-bottom:30px;}
.search-list article:last-child{ margin-bottom:0;}
.search-list img.wp-post-image{ display:none;}
.search-list article .comments-link, .search-list article .entry-meta, .search-list article img.default-image{ display:none}

/* =Comments-------------------------------------------------------------- */
.comments-area:before, .comments-area:after{ content:''; display:table;}
.comments-area:after{ clear:both}
.comment-form-url {display:none; }
.comments-title {margin-bottom:15px; font-size:20px; font-weight:700; }
.comments-area article {margin:0; }
.comments-area article header {margin:0 0 15px; overflow:hidden; position:relative; }
.comments-area article header img {float:left; padding:0; line-height:0; }
.comments-area article header cite,.comments-area article header time {display:block; margin-left:85px; }
.comments-area article header cite {font-style:normal; font-size:12px;}
.comments-area cite b {font-weight:normal; }
.comments-area article header time {text-decoration:none; font-size:12px; color:#5e5e5e; }
.comments-area article header a {text-decoration:none; color:#5e5e5e; }
.comments-area article header a:hover {color:#21759b; }
.comments-area article header cite a {color:#444; }

.comments-area article header cite a:hover {text-decoration:underline; }
.comments-area article header h4 {position:absolute; top:0; right:0; padding:6px 12px; padding:0.428571429rem 0.857142857rem; font-size:12px; font-size:0.857142857rem; font-weight:normal; color:#fff; background-color:#0088d0; background-repeat:repeat-x; background-image:-moz-linear-gradient(top, #009cee, #0088d0); background-image:-ms-linear-gradient(top, #009cee, #0088d0); background-image:-webkit-linear-gradient(top, #009cee, #0088d0); background-image:-o-linear-gradient(top, #009cee, #0088d0); background-image:linear-gradient(top, #009cee, #0088d0); border-radius:3px; border:1px solid #007cbd; }
.comments-area .bypostauthor cite span {position:absolute; margin-left:5px; padding:2px 5px; font-size:10px;}
.comments-area .bypostauthor cite b {font-weight:bold; }
a.comment-reply-link,a.comment-edit-link {font-size:13px; font-weight:700; }
a.comment-reply-link:hover, a.comment-edit-link:hover {}
.commentlist .pingback {margin-bottom:24px; }
/* Comment form */
#respond {margin-top:15px;}
#respond h3#reply-title {font-size:26px; }
#respond h3#reply-title #cancel-comment-reply-link {margin-left:10px;font-weight:normal; font-size:12px; }
#respond form {margin:24px 0 }
#respond form p {margin:0 0 15px; padding:0; width:100%; float:left;}
#respond form p.comment-form-author, #respond form p.comment-form-email{ width:100%;}
#respond form p.logged-in-as {margin-bottom:24px; }
#respond form textarea{ height:100px;resize:none; }
#respond form p.form-allowed-tags {margin:0; font-size:12px;line-height:2; color:#5e5e5e; }
.required {color:red; }
.commentlist{ margin:0 0 25px;padding:0;list-style:none; }
/* Comments */
.commentlist > li.comment {background:none; position:relative; width:auto; border:1px solid #ccc; background:#fff;padding:15px; -webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,0.1); box-shadow:0 3px 8px 0 rgba(0,0,0,0.1); }
.commentlist > li.comment:before, .commentlist > li.comment:after{ content:''; display:table;}
.commentlist > li.comment:after{ clear:both;}
.commentlist .avatar {height:39px; left:2.2em; top:2.2em; width:39px; }
.comments-area article header cite,.comments-area article header time {margin-left:50px; }
.comment-form-cookies-consent input[type=checkbox]{ display:inline-block; margin-right:8px;}
/* =Comments-------------------------------------------------------------- */

.d-flex {display:-ms-flexbox; display:flex;}
.align-self-center {-ms-flex-item-align:center; align-self:center;}
.justify-content-end {-ms-flex-pack:end; justify-content:flex-end;}
.header-new{ padding:0; background:#fff; font-family:'DM Sans', sans-serif;}
.header-new .container{ max-width:98%; width:auto; position:relative;}
.header-new form.searchform input[type=text]{ margin-bottom:0;}
@media (min-width:1420px) {
.header-new .container{ max-width:100%; width:auto;}
}
.header-new .logo-new{ padding:0; line-height:80px;}
.header-new .search-new{ width:226px; margin-left:35px; position:relative;}
.header-new .search-new .form-control, .search-new .form-control:focus{ padding:0 35px 0 12px; height:35px;  border-color:#000; border-radius:10px; box-shadow:1px 3px 6px #00000029;}
.header-new .search-new input[type=submit]{ background:url(./assets/images/search.png) no-repeat center; height:35px; width:35px; border:none; cursor:pointer; position:absolute; top:4px;left: 166px; right:0; text-indent:-9999px;}
.header-new button{ margin-left:35px; background:url(./assets/images/down-filled-triangular-arrow.png) no-repeat center; background-size:100%; height:24px; width:24px; border:none; cursor:pointer;}
.mobile-logo{ border-bottom:1px solid #e7e7e7; padding:15px; text-align:center;}
.header-new .collapse-menu{ position:absolute; top:100%; width:200px; right:15px;}
.header-new .collapse-menu .well{ background:#FFFFFF; box-shadow:0px 3px 6px #00000029; border:1px solid #707070; border-radius:4px; padding:24px; text-align:center;}
.header-new .dropdown-menu{ left:auto; right:0; box-shadow:0px 3px 6px #00000029; border:1px solid #707070; border-radius:4px; padding:20px; width:180px;}
.header-new .dropdown-menu li{ text-align:center; text-transform:uppercase; font-size:15px;}
.header-new .dropdown-menu li + li{ border-top:1px solid #707070;}
.header-new .dropdown-menu li a{ padding:6px 0}
.header-new .dropdown-menu li a:hover{ background:none; color:#B01116;}

.book-scroller .book-wrap{ padding:0 37px;}
.book-scroller .book-wrap .item h5{ margin-top:16px;}
.book-scroller .book-wrap + .book-wrap{ margin-top:200px;}
.header-bottom, .mobile-logo{ display:none;}
.trending .item{ padding:0 15px; text-align:center; color:#000;}
.trending .item h5{ font-size:24px; margin-bottom:24px;}
.trending .item.slick-slide img{ -webkit-transform:-webkit-scale(0.85) -webkit-rotate(0); transform:scale(0.85) rotate(0); -moz-transition:all 0.2s ease; -webkit-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;}
.trending .item.slick-slide.slick-current img{-webkit-transform:-webkit-scale(1) -webkit-rotate(0); transform:scale(1) rotate(0);}

.home-testimonial{ background:#E32424; color:#fff; padding:62px 0; text-align:center; box-shadow:2px 10px 10px #5C0A0A29;}
.home-testimonial .container{ max-width:1200px;}
.home-testimonial h3{ margin:0 0 40px; font-size:30px; font-weight:500;}
.home-testimonial .item blockquote{ margin:0 0 15px; padding:0; border:none;}
.home-testimonial .item .media{ display:flex; align-items:center; margin-left:auto;}
.home-testimonial .item .media .author-img{min-width:initial; overflow:hidden; flex:0 0 auto; display:flex; height:60px; width:60px; border-radius:50%;}
.home-testimonial .item .media .author-img img{flex:1 1 auto; align-self:center; justify-self:center; object-fit:cover; height:100%; min-width:100%; width:auto;}
.home-testimonial .item .media-body{ width:auto;}

.trending .item .book-img {position:relative; overflow:hidden; background:#fff;}
.trending .item .book-img:before{ content:''; padding-top:150%; display:block;}
.trending .item .book-img a{top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); position:absolute; left:0; right:0;}

.scroll-book .item .book-img {position:relative; overflow:hidden; background:#fff;}
.scroll-book .item .book-img:before{ content:''; padding-top:150%; display:block;}
.scroll-book .item .book-img a{top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); position:absolute; left:0; right:0;}

@media (min-width:1200px) and (max-width:1299px) {
.stellarnav a{ font-size:15px;}
.stellarnav > ul > li > a{ padding:15px 10px; font-size:16px;}	
.header-new .search-new{ width:220px; margin-left:18px;}
}

.footer-new{ padding:30px 0; color:#000;}
.footer-new p{ margin:0;}
.footer-new .row { display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap;flex-wrap:wrap;}
.footer-new .row .col-lg-5 {-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%;}
.footer-new .row .col-lg-2 {-ms-flex:0 0 16.666667%; flex:0 0 16.6666677%; max-width:16.666667%;}
.social-links{ margin:0 0 0 auto; padding:0; list-style:none;}
.social-links li{ float:left;}
.social-links li img{ height:30px; width:30px;}
.social-links li + li{ margin-left:15px;}
.footer-links{ margin:0 0 0 16px; padding:0; list-style:none;}
.footer-links li{ float:left;}
.footer-links li + li:before{ content:'|'; float:left; margin:0 8px;}
.footer-new ul:after{ clear:both; display:block; content:'';}

.banner{ position:relative;}
.banner a.scroll-down{ height:40px; width:40px; text-align:center; line-height:40px; color:#fff; font-size:24px; border-radius:50%; background:#ec1c24; bottom:20px; left:50%; margin-left:-20px; z-index:100; position:absolute;}

@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior:smooth;
  }
}

/* #Media Queries
================================================== */
/* Large desktop */

@media (min-width:992px) and (max-width:1199px) {
.alphabet-list li a{ height:32px; width:32px; line-height:32px;}
/*.book-info p.author{ margin-bottom:50px;}*/
/*.book-info ul.small-info{margin-bottom:50px;}*/
.header-bottom, .mobile-logo{ display:block;}
ul.link-menu{ display:block;}
} 
/* END__ */

@media (min-width:768px) and (max-width:991px) {
.header-top ul{ text-align:center; padding:0;}
.header-top .input-group{ margin-top:15px;}
.header-top{ padding:15px 0}
.scroll-book{ padding:0 40px}
.scroll-book .next1, .scroll-book .next2{ right:0}
.scroll-book .prev, .scroll-book .prev2{ left:0}
.book-scroller, .intro-wrap{ padding:30px 0;}
.search .input-group{width:100%}
.book-scroller, .intro-wrap, .page-wrapper{ padding:40px 0;}
.listiing li{-ms-flex:0 0 25%; flex:0 0 25%; max-width:25%;}
/*.book-info p.author{ margin-bottom:81px;}*/
/*.book-info ul.small-info{margin-bottom:81px;}*/
.book-scroller .book-wrap{ padding:0;}
.book-scroller h2{ font-size:24px;}
.header-bottom, .mobile-logo{ display:block;}
ul.link-menu{ display:block;}
.footer-new .row .col-lg-5, .footer-new .row .col-lg-2 {-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%;}
.footer-new{ text-align:center;}
.footer-new .row .col-lg-5.d-flex{ display:block;}
.social-links li, .footer-links li{ display:inline-block; float:none;}
.footer-new .copyright{ order:3;}
.footer-new .footer-logo { order:1;}
.footer-new .footer-link{ order:2; margin:10px 0;}
.footer-new{ padding:20px 0;}
.book-scroller .book-wrap + .book-wrap{ margin-top:50px;}
} 
/* END__ */

@media only screen and (max-width:767px) {
  .mobile-logo .toggleMenu{
    display: block;
  }
.header-top{ padding:15px 0}
.logo img{ width:250px;}
.search .input-group{ margin:12px 0}
.header-top{ border-bottom:1px solid #e7e7e7;}
ul.link-menu{ display:block;}
.scroll-book{ padding:0 40px}
.scroll-book .next1, .scroll-book .next2{ right:0}
.scroll-book .prev, .scroll-book .prev2{ left:0}
.footer ul, .footer p{ text-align:center;}
.footer ul{ margin-bottom:8px;}
.book-scroller, .intro-wrap, .page-wrapper, pagewrapper, .page-head{ padding:20px 0;}
.search .input-group{width:100%}
.footer ul.social{ margin-top:10px; text-align:center}
.book-img { margin-bottom:20px;}
.listiing li{-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%;}
/*.book-info p.author{ margin-bottom:15px;}*/
/*.book-info ul.small-info{margin-bottom:15px;}*/
.book-scroller .book-wrap{ padding:0;}
.book-scroller h2{ font-size:20px;}
.header-bottom, .mobile-logo{ display:block;}
.footer-new .row .col-lg-5, .footer-new .row .col-lg-2 {-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%;}
.footer-new{ text-align:center;}
.footer-new .row .col-lg-5.d-flex{ display:block;}
.social-links li, .footer-links li{ display:inline-block; float:none;}
.footer-new .copyright{ order:3;}
.footer-new .footer-logo { order:1;}
.footer-new .footer-link{ order:2; margin:10px 0;}
.footer-new{ padding:20px 0; font-size:12px;}
.book-scroller .book-wrap + .book-wrap{ margin-top:50px;}
.banner .bx-wrapper .bx-controls-direction a, .banner a.scroll-down{ display:none;}
.home-testimonial .justify-content-end{ -ms-flex-pack:center; justify-content:center;}
.home-testimonial .item .media{ margin-left:0;}
.social-links li{ font-size:24px;}
.social-links{ margin:16px;}

.book-scroller{display:block}
} 
/* END__ */

@media (max-width:400px) {
.listiing li{-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%;}
} 
/* END__ */

.stellarnav {
  position: relative;
  margin-left: auto;
}

.stellarnav a {
  color: #000;
  font-size: 16px;
}

.stellarnav ul {
  margin: 0;
  padding: 0;
  text-align: center
}

.stellarnav li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
  vertical-align: middle;
}

.stellarnav li a {
  padding: 6px;
  display: block;
  text-decoration: none;
  color: #000;
  box-sizing: border-box;
}

.stellarnav li a:hover {
  color: #B01116;
}

.stellarnav > ul > li {
  float: left;
}

.stellarnav > ul > li > a:hover, .stellarnav.dark li a:hover, .stellarnav > ul > li.current-menu-item > a, .stellarnav > ul > li.current-menu-parent > a {
  color: #B01116;
}

.stellarnav > ul > li > a {
  padding: 15px;
  position: relative;
  color: #000;
  border: none;
  font-size: 18px;
}

.stellarnav > ul > li > a:hover {
  text-decoration: none;
  color: #B01116;
}

/*.stellarnav > ul > li > a:before {content: "";display: block;position: absolute; bottom:0; left:15px; right:15px; height:1px; background:#fff; opacity: 0; -moz-transition: all 0.3s;-o-transition: all 0.5s;-webkit-transition: all 0.5s;transition: all 0.5s;}
.stellarnav > ul > li > a:hover:before, .stellarnav > ul > li:hover > a:before, .stellarnav > ul > li.current-menu-item > a:before {opacity: 1; bottom:0;}*/

.sub-menu{
  box-sizing: border-box;
}
.stellarnav ul ul {
  top: auto;
  width: 242px;
  position: absolute;
  z-index: 9900;
  text-align: left;
  display: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 15px 0;
}
.stellarnav li li {
  display: block;
  text-align: center;
}

.stellarnav li li + li {
  border-top: 1px solid #707070;
}

.stellarnav ul ul ul {
  top: 0;
  left: 242px
}

.stellarnav > ul > li:hover > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 0
}

.stellarnav > ul > li.drop-left > ul {
  right: 0
}

.stellarnav li.drop-left ul ul {
  left: auto;
  right: 242px
}

.stellarnav.dark {
  background: #004a1c
}

.stellarnav.dark a {
  color: #FFF
}

.stellarnav.dark ul ul {
  background: #004a1c
}

.stellarnav.dark li a {
  color: #FFF
}

.stellarnav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999
}

body.stellarnav-noscroll-x {
  overflow-x: hidden
}

.stellarnav li.has-sub > a:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #fff;
  display: none;
}

.stellarnav li li.has-sub > a:after {
  margin-left: 10px;
  float: right;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #000;
  position: relative;
  top: 4px;
  display: none;
}

.stellarnav li.drop-left li.has-sub > a:after {
  float: left;
  margin-right: 10px;
  border-left: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid #000;
  display: none;
}

.stellarnav.hide-arrows li.has-sub > a:after, .stellarnav.hide-arrows li li.has-sub > a:after, .stellarnav.hide-arrows li.drop-left li.has-sub > a:after {
  display: none
}

.stellarnav .menu-toggle, .stellarnav .close-menu, .stellarnav .call-btn-mobile, .stellarnav .location-btn-mobile {
  display: none;
  text-decoration: none
}

.stellarnav .dd-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 49px;
  height: 49px;
  text-align: center;
  z-index: 9999;
  border: 0
}

.stellarnav.desktop.hide-arrows li.has-sub a {
  padding-right: 15px
}

.stellarnav.mobile > ul > li > a.dd-toggle {
  padding: 0
}

.stellarnav li.call-btn-mobile, .stellarnav li.location-btn-mobile {
  display: none
}

.stellarnav svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px
}

.stellarnav a.dd-toggle .icon-plus {
  box-sizing: border-box;
  transition: transform .3s;
  width: 12px;
  height: 100%;
  position: relative;
  vertical-align: middle;
  display: inline-block
}

.stellarnav a.dd-toggle .icon-plus:before {
  content: '';
  display: block;
  width: 12px;
  height: 0;
  border-bottom: solid 3px #000;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transition: width .3s
}

.stellarnav a.dd-toggle .icon-plus:after {
  content: '';
  display: block;
  width: 12px;
  height: 0;
  top: 50%;
  border-bottom: solid 3px #000;
  position: absolute
}

.stellarnav li.open > a.dd-toggle .icon-plus {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg)
}

.stellarnav.light a.dd-toggle .icon-plus:before {
  border-color: #000
}

.stellarnav.light a.dd-toggle .icon-plus:after {
  border-color: #000
}

.stellarnav.dark a.dd-toggle .icon-plus:before {
  border-color: #000
}

.stellarnav.dark a.dd-toggle .icon-plus:after {
  border-color: #000
}

.stellarnav .icon-close {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  margin-left: 0;
  margin-right: 0
}

.stellarnav .icon-close:before {
  content: '';
  display: block;
  width: 30px;
  height: 0;
  border-bottom: solid 3px #000;
  position: absolute;
  top: 50%;
  transform: rotate(45deg)
}

.stellarnav .icon-close:after {
  content: '';
  display: block;
  width: 30px;
  height: 0;
  top: 50%;
  border-bottom: solid 3px #000;
  position: absolute;
  transform: rotate(-45deg)
}

.stellarnav.light .icon-close:before {
  border-color: #000
}

.stellarnav.light .icon-close:after {
  border-color: #000
}

.stellarnav.dark .icon-close:before {
  border-color: #000
}

.stellarnav.dark .icon-close:after {
  border-color: #000
}

.stellarnav .menu-toggle, .stellarnav .call-btn-mobile, .stellarnav .location-btn-mobile {
  padding: 12.5px 5px;
  box-sizing: border-box
}

.stellarnav .close-menu {
  padding: 15px
}

.stellarnav .menu-toggle span.bars {
  display: inline-block;
  margin-right: 0;
  position: relative;
  top: 3px
}

.stellarnav .menu-toggle span.bars span {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 6px;
  background: #000;
  margin: 0 0 5px
}

.stellarnav .menu-toggle span.bars span:last-child {
  margin-bottom: 0
}

.stellarnav .full {
  width: 100%
}

.stellarnav .half {
  width: 50%
}

.stellarnav .third {
  width: 33%;
  text-align: center
}

.stellarnav .location-btn-mobile.third {
  text-align: center
}

.stellarnav .location-btn-mobile.half {
  text-align: right
}

.stellarnav.light .third, .stellarnav.light .half {
  border-left: 1px solid rgba(0,0,0, .15)
}

.stellarnav.light.left .third, .stellarnav.light.left .half {
  border-bottom: 1px solid rgba(0,0,0, .15)
}

.stellarnav.light.right .third, .stellarnav.light.right .half {
  border-bottom: 1px solid rgba(0,0,0, .15)
}

.stellarnav.light .third:first-child, .stellarnav.light .half:first-child {
  border-left: 0
}

.stellarnav.dark .third, .stellarnav.dark .half {
  border-left: 1px solid rgba(0,0,0, .15)
}

.stellarnav.dark.left .third, .stellarnav.dark.left .half {
  border-bottom: 1px solid rgba(0,0,0, .15)
}

.stellarnav.dark.right .third, .stellarnav.dark.right .half {
  border-bottom: 1px solid rgba(0,0,0, .15)
}

.stellarnav.light.left .menu-toggle, .stellarnav.light.right .menu-toggle {
  border-bottom: 0
}

.stellarnav.dark.left .menu-toggle, .stellarnav.dark.right .menu-toggle {
  border-bottom: 0
}

.stellarnav.dark .third:first-child, .stellarnav.dark .half:first-child {
  border-left: 0
}

.stellarnav.light .menu-toggle span.bars span {
  background: #000
}

.stellarnav.dark .menu-toggle span.bars span {
  background: #000
}

.stellarnav.mobile {
  position: static
}

.stellarnav.mobile.fixed {
  position: static
}

.stellarnav.mobile ul {
  position: relative;
  display: none
}

.stellarnav.mobile.active {
  padding-bottom: 0
}

.stellarnav.mobile.active > ul {
  display: block
}

.stellarnav.mobile ul {
  text-align: left
}

.stellarnav.mobile > ul > li {
  display: block
}

.stellarnav.mobile > ul > li > a {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px
}

.stellarnav.mobile ul {
  background: rgba(221,221,221,1)
}

.stellarnav.mobile ul ul {
  position: relative;
  opacity: 1;
  visibility: visible;
  width: auto;
  display: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
  background: #000
}

.stellarnav.mobile ul ul ul {
  left: auto;
  top: auto
}

.stellarnav.mobile li.drop-left ul ul {
  right: auto
}

.stellarnav.mobile li a {
  border-bottom: 1px solid rgba(0,0,0, .15)
}

.stellarnav.mobile > ul {
  border-top: 1px solid rgba(0,0,0, .15)
}

.stellarnav.mobile.light li a {
  border-bottom: 1px solid rgba(0,0,0, .15)
}

.stellarnav.mobile.light > ul {
  border-top: 1px solid rgba(0,0,0, .15)
}

.stellarnav.mobile li a.dd-toggle {
  border: 0
}

.stellarnav.mobile.light li a.dd-toggle {
  border: 0;
  background: rgba(0,0,0,0.05)
}

.stellarnav.mobile .menu-toggle, .stellarnav.mobile .dd-toggle, .stellarnav.mobile .close-menu, .stellarnav.mobile .call-btn-mobile, .stellarnav.mobile .location-btn-mobile {
  display: block;
  border-bottom: 1px solid rgba(0,0,0, .15)
}

.stellarnav.mobile li.call-btn-mobile {
  border-right: 1px solid rgba(0,0,0, .1);
  box-sizing: border-box
}

.stellarnav.mobile li.call-btn-mobile, .stellarnav.mobile li.location-btn-mobile {
  display: inline-block;
  width: 50%;
  text-align: center
}

.stellarnav.mobile li.call-btn-mobile.full, .stellarnav.mobile li.location-btn-mobile.full {
  display: block;
  width: 100%;
  border-right: 0;
  text-align: left
}

.stellarnav.mobile.light ul {
  background: #fff
}

.stellarnav.mobile.dark ul {
  background: #fff
}

.stellarnav.mobile.dark ul ul, .stellarnav.mobile.light ul ul {
  background: #fff;
  padding: 0
}

.stellarnav.mobile.light li.call-btn-mobile {
  border-right: 1px solid rgba(0,0,0, .1)
}

.stellarnav.mobile.top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999
}

.stellarnav.mobile li.has-sub > a:after, .stellarnav.mobile li li.has-sub > a:after, .stellarnav.mobile li.drop-left li.has-sub > a:after {
  display: none
}

.stellarnav.mobile.right > ul, .stellarnav.mobile.left > ul {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 500
}

.stellarnav.mobile.right > ul {
  right: 0
}

.stellarnav.mobile.right .close-menu, .stellarnav.mobile.left .close-menu {
  display: inline-block;
  text-align: right
}

.stellarnav.mobile.left > ul {
  left: 0
}

.stellarnav.mobile.right .location-btn-mobile.half, .stellarnav.mobile.right .call-btn-mobile.half, .stellarnav.mobile.right .close-menu.half {
  text-align: center
}

.stellarnav.mobile.right .location-btn-mobile.third, .stellarnav.mobile.right .call-btn-mobile.third, .stellarnav.mobile.right .close-menu.third {
  text-align: center
}

.stellarnav.mobile.left .location-btn-mobile.half, .stellarnav.mobile.left .call-btn-mobile.half, .stellarnav.mobile.left .close-menu.half {
  text-align: center
}

.stellarnav.mobile.left .location-btn-mobile.third, .stellarnav.mobile.left .call-btn-mobile.third, .stellarnav.mobile.left .close-menu.third {
  text-align: center
}

.stellarnav.mobile.left .menu-toggle.half, .stellarnav.mobile.left .menu-toggle.third, .stellarnav.mobile.right .menu-toggle.half, .stellarnav.mobile.right .menu-toggle.third {
  text-align: left
}

.stellarnav.mobile.left .close-menu.third span, .stellarnav.mobile.right .close-menu.third span {
  display: none
}

@media only screen and (max-width : 768px) {
  .stellarnav {
      overflow:hidden;
      display: block
  }

  .stellarnav ul {
      position: relative;
      display: none
  }
}

@media only screen and (max-width : 420px) {
  .stellarnav.mobile .call-btn-mobile.third span, .stellarnav.mobile .location-btn-mobile.third span {
      display:none
  }
}
 ul > li:hover > .sub-menu{

  display: block !important;
}

.notfound-page{
  margin: 0 auto;
  text-align: center;
}